.obpress-contact-form-holder {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.obpress-contact-form {
  display: flex;
  flex-direction: column;
}

.obpress-input-holder {
  margin-bottom: 33px;
  position: relative;
}

.obpress-contact-form-title {
  font-size: 48px;
  text-align: center;
}

.obpress-input-holder input {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #9d9d9d;
  padding: 13px 16px 13px 16px;
  font-size: 14px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}

.obpress-input-holder textarea {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  /* border-bottom: 2px solid #9d9d9d; */
  border: 1px solid #c5c5c5;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  padding: 13px 16px;
}

.obpress-input-holder textarea:focus-visible {
  outline: none;
}

.obpress-input-split-holder {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.obpress-input-split-holder  > div {
   flex: 1;
}

.hotels_dropdown {
  display: none;
}

.hotels_dropdown {
  position: static;
  width: 100%;
  max-height: 240px;
  z-index: 12;
  overflow: overlay;
  color: #212529;
  background: #f5f5f5;
  font-size: 14px;
  display: none;
}

.hotels_dropdown {
  display: none;
}

.hotels_dropdown {
  width: 100%;
  max-height: 336px;
  z-index: 12;
  overflow: overlay;
  position: absolute;
  color: #212529;
  background: #f5f5f5;
  font-size: 14px;
  display: none;
  top: 44px;
  left: 0px;
}


.hotels_dropdown::-webkit-scrollbar {
  width: 12px;
}

.hotels_dropdown::-webkit-scrollbar {
  width: 12px;
}

.hotels_dropdown::-webkit-scrollbar-thumb {
  border-left: 10px solid #000000;
}

.hotels_dropdown::-webkit-scrollbar-track {
  border-left: 10px solid #e8e8e8;
  margin-top: 19px;
  margin-bottom: 25px;
}

/* overflow need to be auto for mozila */
@-moz-document url-prefix() {
  .hotels_dropdown {
    overflow: auto;
  }
}

.hotels_hotel {
  font-weight: normal;
  padding-left: 30px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  background-image: url(../icons/hotel_v4.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 42px;
  font-family: "Montserrat";
  background-color: #fff !important;
}

.hotels_all,
.hotels_folder,
.hotels_hotel {
  opacity: 1;
  height: 40px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 40px;
  background: #f5f5f5;
  color: #212529;
  font-weight: bold;
}

.obpress-contact-submit {
  background-color: #000000;
  padding: 16px 29px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2.8px;
  font-family: "Montserrat", sans-serif;
  border-width: 0px;
  max-width: 231px;
  width: fit-content;
  /* margin-left: auto;
  margin-right: auto; */
}

.obpress-contact-submit.custom_width {
  width: 100%;
  max-width: 100%;
}

#obpress-contact-form-name-warning , #obpress-contact-form-email-warning , 
#obpress-contact-form-phone-warning , #obpress-contact-form-message-warning ,
#obpress-contact-form-success {
  display: none;
  padding-top: 10px;
}


#obpress-contact-form-success {
  text-align: center;
  font-size: 20px;
  padding-top: 16px;
  color: #33c40b;
}


/* MOBILE */ 
@media(max-width: 1279px) {

  .obpress-contact-form-holder {
    padding: 0px 20px 35px 20px;
  }

  .obpress-input-holder {
    margin-bottom: 29px;
  }

  .obpress-contact-submit {
    padding: 11px 46px;
    font-size: 14px;
  }
}
