.obpress-contact-form-holder {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.obpress-contact-form {
  display: flex;
  flex-direction: column;
}

.obpress-input-holder {
  margin-bottom: 33px;
  position: relative;
}

.obpress-contact-form-title {
  font-size: 48px;
  text-align: center;
}

.obpress-input-holder input {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #9d9d9d;
  padding: 13px 16px 13px 16px;
  font-size: 14px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  border-top-color: transparent!important;
  border-right-color: transparent!important;
  border-left-color: transparent!important;
}

.obpress-input-holder textarea {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  /* border-bottom: 2px solid #9d9d9d; */
  border: 1px solid #c5c5c5;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  padding: 13px 16px;
  border-top-color: transparent!important;
  border-right-color: transparent!important;
  border-left-color: transparent!important;
  transition: 0.1s ease-out;
}

.obpress-input-holder textarea:focus-visible {
  outline: none;
}

.obpress-input-holder .label-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.obpress-input-split-holder {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.obpress-input-split-holder  > div {
   flex: 1;
}

.hotels_dropdown {
  width: 100%;
  max-height: 336px;
  z-index: 12;
  overflow: overlay;
  position: absolute;
  color: #212529;
  background: #f5f5f5;
  font-size: 14px;
  display: none;
  top: 47px;
  left: 0px;
}


.hotels_dropdown::-webkit-scrollbar {
  width: 12px;
}

.hotels_dropdown::-webkit-scrollbar {
  width: 12px;
}

.hotels_dropdown::-webkit-scrollbar-thumb {
  border-left: 10px solid #000000;
}

.hotels_dropdown::-webkit-scrollbar-track {
  border-left: 10px solid #e8e8e8;
  margin-top: 19px;
  margin-bottom: 25px;
}

/* overflow need to be auto for mozila */
@-moz-document url-prefix() {
  .hotels_dropdown {
    overflow: auto;
  }
}

.hotels_hotel {
  font-weight: normal;
  padding-left: 30px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  background-image: url(../icons/hotel_v4.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 42px;
  font-family: "Montserrat";
  /* background-color: #fff !important; */
  cursor: pointer;
}

.hotels_all,
.hotels_folder,
.hotels_hotel {
  opacity: 1;
  height: 40px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 40px;
  background: #f5f5f5;
  color: #212529;
  font-weight: bold;
}

.obpress-contact-submit {
  background-color: #000000;
  padding: 16px 29px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2.8px;
  font-family: "Montserrat", sans-serif;
  border-width: 0px;
  max-width: 231px;
  width: fit-content;
  align-self: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.obpress-contact-submit[disabled] {
  background-color: #C5C5C5;
  color: #E6E6E6;
}

.obpress-contact-submit[disabled]:hover {
  background-color: #C5C5C5;
  color: #E6E6E6;
  cursor: no-drop;
}

.obpress-contact-submit.custom_width {
  width: 100%;
  max-width: 100%;
}

#obpress-contact-form-name-warning , #obpress-contact-form-email-warning , 
#obpress-contact-form-phone-warning , #obpress-contact-form-message-warning ,
#obpress-contact-form-success {
  display: none;
  padding-top: 10px;
}


#obpress-contact-form-success {
  text-align: center;
  font-size: 20px;
  padding-top: 16px;
  color: #33c40b;
}

/*MATERIAL TEXTFIELD OUTLINE*/
.material-textfield {
  position: relative;  
}

.material-textfield .label-title {
	position: absolute;
	left: 0;
	top: 25px;
	transform: translateY(-50%);
	background-color: transparent;
	padding: 0 0.3rem;
	margin: 0 0.5rem;
	transition: .1s ease-out;
	transform-origin: left top;
	pointer-events: none;
}


.material-textfield input {
	outline: none;
	border: 1px solid #C5C5C5;
	border-radius: 2px;  
	padding: 13.81px 16px 13.19px 16px;
	transition: 0.1s ease-out;
	font-family: Manrope;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #273240;
	background-color: #ffffff;
}

/*.material-textfield input:hover:not(#input-cpf, #input-id, #input-phone, #input-name[disabled], #input-lastname[disabled]) {
  	border: 1px solid #273240!important;
}*/

.material-textfield input:hover:not(input[disabled], .country-disabled) {
  	border: 1px solid #000!important;
    background-color: #ffffff;
}

.material-textfield input:focus {
  	border-color: #273240;  
    box-shadow: none;
    background-color: #fff;
}
.material-textfield input:focus:not(.country-disabled) ~ .label-title {
	color: #7d848c;
	top: 0;
	transform: translateY(-50%) scale(.9);
	background-color: #fff;
}

.material-textfield input:focus:not(.country-disabled) {
  border: 1px solid #000!important;
}

.material-textfield #input-id:focus ~ .label-title, .material-textfield #input-cpf:focus ~ .label-title {
	color: #7d848c;
	top: 0;
	/* left: -114px; */
	left: 0;
	transform: translateY(-50%) scale(.9);
}
.material-textfield input:focus:not(.country-disabled) ~ .label-title .red-asterix {
	display: none;
}
.material-textfield input:not(:placeholder-shown) {
  background-color: #ffffff;
  border-color: #000!important;
}
.material-textfield input:not(:placeholder-shown) ~ .label-title {
	color: #7d848c;
	top: 0;
	transform: translateY(-50%) scale(.9);
	background-color: #fff;
}

.material-textfield #input-id:not(:placeholder-shown) ~ .label-title, .material-textfield #input-cpf:not(:placeholder-shown) ~ .label-title  {
	color: #7d848c;
	top: 0;
	/*left: -114px;*/
	left: 0;
	transform: translateY(-50%) scale(.9);
}

.material-textfield input:not(:placeholder-shown) ~ .label-title .red-asterix {
	display: none;
}

.red-asterix {
	color: #FF0000;
}

.obpress-contact-form-holder .obpress-input-holder textarea:focus,
.obpress-contact-form-holder .obpress-input-holder textarea:not(:placeholder-shown),
.obpress-contact-form-holder .obpress-input-holder textarea:hover {
  background-color: #fff;
  border: 1px solid #000000!important;
}
/* MOBILE */ 
@media(max-width: 1279px) {

  .obpress-contact-form-holder {
    padding: 0px 20px 35px 20px;
  }

  .obpress-input-holder {
    margin-bottom: 29px;
  }

  .obpress-contact-submit {
    padding: 11px 46px;
    font-size: 14px;
  }
}
